In [1]:
!pip install vnstock

Requirement already satisfied: vnstock in c:\users\nguye\anaconda3\lib\site-packages (0.1.4)

In [2]:
import pandas as pd
from vnstock import listing_companies

In [3]:
raw_data = 'D:\Project\Vnstock-Data-GCP\data.csv'

In [4]:
df = pd.read_csv(raw_data, names=['Open','High','Low','Close','Volume','TradingDate','Ticker'])
df

            Open     High      Low    Close   Volume TradingDate Ticker
0        18000.0  20300.0  18000.0  20000.0  12100.0  2022-10-07    VVS
1        22000.0  23000.0  22000.0  22700.0  11000.0  2022-10-10    VVS
2        25500.0  25800.0  22000.0  23000.0   7900.0  2022-10-11    VVS
3        22000.0  23000.0  22000.0  22800.0   3400.0  2022-10-12    VVS
4        23000.0  23000.0  20000.0  20600.0   1900.0  2022-10-13    VVS
...          ...      ...      ...      ...      ...         ...    ...
3743720  68000.0  68000.0  68000.0  68000.0      0.0  2023-03-20    YTC
3743721  68000.0  68000.0  68000.0  68000.0      0.0  2023-03-21    YTC
3743722  68000.0  68000.0  68000.0  68000.0      5.0  2023-03-22    YTC
3743723  60000.0  60000.0  60000.0  60000.0   5000.0  2023-03-23    YTC
3743724  60000.0  60000.0  60000.0  60000.0      0.0  2023-03-24    YTC

[3743725 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3743725 entries, 0 to 3743724
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   Open         float64
 1   High         float64
 2   Low          float64
 3   Close        float64
 4   Volume       float64
 5   TradingDate  object
 6   Ticker       object
dtypes: float64(5), object(2)
memory usage: 199.9+ MB

In [6]:
df.Ticker.value_counts()

REE    5428
TMS    5428
SAM    5428
LAF    5422
HAP    5417
       ...
VNZ      52
CK8      51
VMT      51
GPC      51
DLM      51
Name: Ticker, Length: 1625, dtype: int64

## How many ticker in VNStock?

In [7]:
len(listing_companies()['ticker'].tolist())

1625

## Check null

In [8]:
df.isna().sum()

Open            102
High             94
Low              94
Close           122
Volume         1555
TradingDate       0
Ticker            0
dtype: int64

## Option fill NaN value

In [ ]:
df = df.fillna(0)

In [ ]:
df.isna().sum()