In [8]:
!pip install vnstock

Collecting vnstock
  Using cached vnstock-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: vnstock
Successfully installed vnstock-0.1.4

In [9]:
import pandas as pd
from vnstock import listing_companies

In [2]:
raw_data = 'D:\Project\Vnstock-Data-GCP\data.csv'

In [4]:
df = pd.read_csv(raw_data)
df

            Open     High      Low    Close   Volume TradingDate Ticker
0        18000.0  20300.0  18000.0  20000.0  12100.0  2022-10-07    VVS
1        22000.0  23000.0  22000.0  22700.0  11000.0  2022-10-10    VVS
2        25500.0  25800.0  22000.0  23000.0   7900.0  2022-10-11    VVS
3        22000.0  23000.0  22000.0  22800.0   3400.0  2022-10-12    VVS
4        23000.0  23000.0  20000.0  20600.0   1900.0  2022-10-13    VVS
...          ...      ...      ...      ...      ...         ...    ...
3742976  68000.0  68000.0  68000.0  68000.0      0.0  2023-03-17    YTC
3742977  68000.0  68000.0  68000.0  68000.0      0.0  2023-03-20    YTC
3742978  68000.0  68000.0  68000.0  68000.0      0.0  2023-03-21    YTC
3742979  68000.0  68000.0  68000.0  68000.0      5.0  2023-03-22    YTC
3742980  60000.0  60000.0  60000.0  60000.0   5000.0  2023-03-23    YTC

[3742981 rows x 7 columns]

In [5]:
df.Ticker.value_counts()

REE    5428
SAM    5428
TMS    5428
LAF    5422
HAP    5417
       ...
GPC      51
VNZ      51
CK8      50
VMT      50
DLM      50
Name: Ticker, Length: 1625, dtype: int64

In [10]:
len(listing_companies()['ticker'].tolist())

1625

In [47]:
df.isna().sum()

Open            102
High             94
Low              94
Close           122
Volume         1555
TradingDate       0
Ticker            0
dtype: int64

In [50]:
df.isna().loc[df.isna()['Open']==True]

         Open   High    Low  Close  Volume  TradingDate  Ticker
48878    True  False  False   True   False        False   False
48879    True  False  False   True   False        False   False
48880    True  False  False  False   False        False   False
297633   True   True   True   True   False        False   False
297634   True   True   True   True   False        False   False
...       ...    ...    ...    ...     ...          ...     ...
3298448  True   True   True   True   False        False   False
3298449  True  False  False  False   False        False   False
3403718  True   True   True   True   False        False   False
3403719  True   True   True   True   False        False   False
3403720  True  False  False  False   False        False   False

[102 rows x 7 columns]

In [55]:
df.loc[48878]

Open                  0.0
High                  0.0
Low                   0.0
Close                 0.0
Volume                0.0
TradingDate    2010-02-05
Ticker                ADP
Name: 48878, dtype: object

In [53]:
df = df.fillna(0)

In [54]:
df.isna().sum()

Open           0
High           0
Low            0
Close          0
Volume         0
TradingDate    0
Ticker         0
dtype: int64